@import "general";
@import "palette";

#map path {
    fill: @grey;
    stroke: @dark_grey;
    stroke-width: 1px;
}

circle {
    fill: @sharp_blue;
    stroke: @dark_blue;
}

#filters {
    float: left;
    margin: 0 1em 0 1em;

	.filter {
		position: relative;
		.category;

		&.selected {
			background-color: @cyan;
			left: -1.5em;
			margin-left: 6px;
			border-left-color: white;
		}
	}
}

#detail {
    position: absolute;
    width: 360px;
    left: -280px;
    top: 20px;
    border-collapse: collapse;
    border: none;
    display: none;
    color: @dark_grey;

	th {
		text-align: left;
		vertical-align: top;
		color: @deep_blue;
	}

	th, td {
		padding: 15px 5px 5px;
		border-bottom: solid 1px #ccc;
		margin-bottom: 5px;
	}
}

#data {
    position: relative;
    left: 400px;
}
