body {
	font-family: Helvetica;
	color: @off_black;
	background-color: @lighter_blue;
	.background_noise;
}

#heading {
	margin: 1em auto;
	text-align: center;

	h2 {
		font-size: 40px;
		margin-bottom: .25em;
	}

	#instructions {
		font-style: italic;

		p {
			margin: 0.25em;
			font-size: 14px;
		}
	}
}
